<a href="https://colab.research.google.com/github/bali1091287/DataScienceHmw/blob/main/Homework1_Aytaj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print('Your name is '+ name + ".","Your age is "+age+'.')

What is your name? Aytaj
What is your age? 20
Your name is Aytaj. Your age is 20.

In [ ]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54

if a==b:
  print('They are equal')
else:
  print("They are not equal")

They are not equal

In [ ]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54

if a>b:
  print("a is greater than b")
elif a<b:
  print("a is less than b")
else:
  print("They are equal")

a is less than b

In [ ]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [ ]:
#Q5-Using while loop, print 5,4,3,2,1
i=5
while 0<i<6:
  print(i)
  i-=1

5
4
3
2
1

In [ ]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for i in range(10,-1,-2):
  if i==8:
    pass
  else:
    print(i)

10
6
4
2
0

In [ ]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method in order to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
birth_year = int(input("Please tell your birth year: "))
age= 2022-birth_year
print(age)

Please tell your birth year: 2009
13

In [ ]:
"""Q8-Write a class named arithmetic with method 
for calculating addition, substraction, 
multiplication and division of two numbers."""

class arithmetic:
  import math

  def addition(a,b):
    return a+b

  def substraction(a,b):
    return a-b
  
  def multiplication(a,b):
    return a*b
  
  def division(a,b):
    return a/b
  
print(arithmetic.addition(15,10))
print(arithmetic.substraction(15,10))
print(arithmetic.multiplication(15,10))
print(arithmetic.division(15,10))

25
5
150
1.5

In [49]:
"""Q9- write a for loop or method  to calculate
summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)"""
n=int(input("Enter a random number: "))
sum=0
for i in range(1,n+1,1):
  sum=sum+i
  
print(sum)

Enter a random number: 6
21

In [60]:
"""Q10-Generate 10 numbers between 0 and 1 and add into list.
 Print first three elements of that list."""
import numpy as np

ls=[]
 
for k in range(0,10):
  ls.append(np.random.rand()*1)

ls[0:3]

[0.5607267047319867, 0.7610841294986237, 0.4327469397699377]

In [63]:
"""Q11-For a given number n, print numbers divisible
 by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15"""

n=int(input("Enter a number: "))

for i in range(1,n+1):
  if i%3==0:
    print(i)

Enter a number: 15
3
6
9
12
15